{:paths ["src"]

 :exoscale.project/pom-data
 [[:licenses
   [:license
    [:name "Eclipse Public License version 1.0"]
    [:url "https://opensource.org/license/epl-1-0/"]
    [:distribution "repo"]]]]

 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        metosin/reitit-ring {:mvn/version "0.9.1"}
        metosin/reitit-core {:mvn/version "0.9.1"}
        metosin/jsonista {:mvn/version "0.3.13"}
        exoscale/ex {:mvn/version "0.4.1"}
        io.swagger.parser.v3/swagger-parser {:mvn/version "2.1.22"}
        com.networknt/json-schema-validator {:mvn/version "1.5.7"}}
 :aliases
 {:test
  {:extra-deps {legba/test-runner {:local/root "dev"}
                org.clojure/test.check {:mvn/version "1.1.1"}}
   :jvm-opts ["-Dclojure.main.report=stderr"]

   :exec-fn test-runner/run
   :extra-paths ["test" "dev" "test/resources"]}

  :quickdoc
  {:deps {org.babashka/cli {:mvn/version "0.4.36"}
          io.github.borkdude/quickdoc
          {:deps/root "jvm"
           :git/sha "7c8bef54eda28367193ec433af01bb940114f012"}}
   :exec-fn quickdoc.api/quickdoc
   :exec-args {:github/repo "https://github.com/mpenet/legba"
               :git/branch "main"
               :toc true
               :var-links true
               ;; :source-paths ["src/s_exp/legba.clj"]
               }}}}
