{:paths ["src" "resources"]

 :exoscale.project/pom-data
 [[:licenses
   [:license
    [:name "Eclipse Public License version 1.0"]
    [:url "https://opensource.org/license/epl-1-0/"]
    [:distribution "repo"]]]]

 :deps {org.clojure/clojure {:mvn/version "1.12.3"}
        metosin/jsonista {:mvn/version "0.3.13"}
        exoscale/ex {:mvn/version "0.4.1"}
        com.networknt/json-schema-validator {:mvn/version "2.0.0"}
        com.jayway.jsonpath/json-path {:mvn/version "2.9.0"}
        ring/ring-core {:mvn/version "1.15.3"}
        com.s-exp/appia {:mvn/version "1.0.0-alpha8"}}
 :aliases
 {:test
  {:extra-deps {legba/test-runner {:local/root "dev"}
                org.clojure/test.check {:mvn/version "1.1.1"}}
   :jvm-opts ["-Dclojure.main.report=stderr"]
   :exec-fn test-runner/run
   :extra-paths ["test" "dev" "test/resources"]}

  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.10.9" :git/sha "e405aac"}
          io.github.slipset/deps-deploy {:git/sha "07022b92d768590ab25b9ceb619ef17d2922da9a"}}
   :ns-default build}

  :quickdoc
  {:deps {org.babashka/cli {:mvn/version "0.4.36"}
          io.github.borkdude/quickdoc
          {:deps/root "jvm"
           :git/sha "7c8bef54eda28367193ec433af01bb940114f012"}}
   :exec-fn quickdoc.api/quickdoc
   :exec-args {:github/repo "https://github.com/mpenet/legba"
               :git/branch "main"
               :var-links true}}}}
